.App {
  text-align: center;
  padding-top: 50px;
  min-height: 548px;
  background-image: linear-gradient(white,#93a818);
}

button{
  margin: 0px 10px;
  background-color: #4bf542;
  border: none;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .App{
    min-height: 760px;
  }

  button{
    margin: 10px 10px;
    background-color: #4bf542;
    border: none;
    border-radius: 8px;
  }
}


